div#principal{
  background-color: #1abc9c;
  width: 950px;
  height: 500px;

}

p.letrablanca{

  color: white;
}
table#tabla1{

  border: 10px outset: black;
}

div#divFila1{

  display: flex;
  justify-content: center;
  align-items: center;
  width: 500px;
  background-color: red;
  height: 20px;

}
div#divFila2{

  display: flex;
  justify-content: center;
  align-items: center;
  width: 500px;
  background-color: aqua;
  height: 20px;
}
div#divFila3{

  display: flex;
  justify-content: center;
  align-items: center;
  width: 500px;
  background-color: blueviolet;
  height: 20px;
}
p.pIzquierda{

  margin-left: 0px;
  margin-right: 450px;
}
p.pDerecha{

  margin-left: 450px;
  margin-right: 0px;
}
td.columnas{

  padding: 0px;

}
 tr.filas{

   padding: 0px;
   height: 20px;
 }


div#ej2DivFila1{

  display: flex;
  justify-content: center;
  align-items: center;
  width: 500px;
  background-color: aqua;
  height: 20px;
}
div#ej2DivFila2{

  display: flex;
  justify-content: center;
  align-items: center;
  width: 500px;
  background-color: yellow;
  height: 20px;
}
div#ej2DivFila3{

  display: flex;
  justify-content: center;
  align-items: center;
  width: 500px;
  background-color: white;
  height: 20px;
}

table.tablas2{
  margin-top: 15px;
}


div#ej3Div1{

  margin-top: 0px;
  background-color: chartreuse;
  width: 510px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}
div#ej3Div2{

  margin-top: 0px;
  background-color: red;
  width: 510px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}
div#ej3Div3{

  margin-top: 0px;
  background-color: blueviolet;
  width: 510px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}


p.dDerecha{

  color: white;
  margin-left: 450px;
  margin-right: 0px;
}

p.dIzquierda{

  color: white;
  margin-left: 0px;
  margin-right: auto;
}
